.single {
	padding: 30px 15px;
	margin-top: 40px;
	background: #fcfcfc;
	border: 1px solid #f0f0f0; 
}
.single h3.side-title {
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	font-size: 20px;
	color: #333;
	text-transform: uppercase; 
}
.single h3.side-title:after {
	content: '';
	width: 60px;
	height: 1px;
	background: #ff173c;
	display: block;
	margin-top: 6px; 
}

.single ul {
	margin-bottom: 0; 
}
.single li a {
	color: #666;
	font-size: 14px;
	text-transform: uppercase;
	border-bottom: 1px solid #f0f0f0;
	line-height: 40px;
	display: block;
	text-decoration: none; 
}

.single li:last-child a {
	border-bottom: 0; 
}

.joinBtn {
	margin-left: 2rem;
	border: 1px solid;
	border-radius: 4px;
}

.joinBtn:hover {
	cursor: pointer;
	color: #ff173c; 
}

.signOutBtn {
	text-align: center;
}

.signOutBtn:hover {
	cursor: pointer;
	color: #ff173c; 
}

.category {
	width: 40rem;
}

/**
 * Profile image component
 */
.profile-header-container{
    margin: 0 auto;
    text-align: center;
}

.profile-header-img {
    padding: 54px;
}

.profile-header-img > img.img-circle {
    width: 120px;
    height: 120px;
    border: 2px solid #ff2600;
}

.profile-header {
    margin-top: 43px;
}

/**
 * Ranking component
 */
.rank-label-container {
    margin-top: -12px;
    /* z-index: 1000; */
    text-align: center;
}

.label.label-default.rank-label {
    background-color: #ff7e79;
    padding: 5px 10px 5px 10px;
    border-radius: 27px;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
